<div class="container">
  <form class="form-horizontal" id="formemployee">
    <fieldset>
      <legend>Register</legend>

      <div class="form-group">
        <label for="name" class="col-lg-2 control-label">Name:</label>
        <div class="col-md-10">
          <input class="form-control" [(ngModel)]="employee.name" name="name" id="name" 
          placeholder="Name" type="text" required>
        </div>
      </div>

      <div class="form-group">
        <label for="wiproid" class="col-lg-2 control-label">Wipro Id:</label>
        <div class="col-md-10">
          <input class="form-control" [(ngModel)]="employee.wiproId" name="wiproid" id="wiproid" 
          placeholder="Wipro Id ex:aa123456" type="text" required pattern="[a-zA-Z]{2}[0-9]{6}">
        </div>
      </div>

      <!--<div class="form-group">
        <label for="MCId" class="col-lg-2 control-label">MC Id:</label>
        <div class="col-md-10">
          <input class="form-control" id="inputMCId" placeholder="MC Id ex:a1234567" type="text" pattern="[a-zA-Z]{1}[0-9]{7}">
        </div>
      </div>-->

      <div class="form-group">
        <label for="clientid" class="col-lg-2 control-label">Client Id:</label>
        <div class="col-md-10">
          <input class="form-control" [(ngModel)]="employee.clientId" id="clientid" name="clientid" placeholder="Client id" type="text">
        </div>
      </div>

      <div class="form-group">
        <label for="wipromail" class="col-lg-2 control-label">Wipro Email:</label>
        <div class="col-md-10">
          <input class="form-control" [(ngModel)]="employee.wiproEmail" id="wiproemail" name="wiproemail"
          placeholder="Wipro Email ex:aa123456@wipro.com" type="text" 
          required pattern="[a-zA-Z]{2}[0-9]{6}@wipro.com">
        </div>
      </div>

      <!--<div class="form-group">
        <label for="team" class="col-lg-2 control-label">Team:</label>
        <div class="col-md-10">
          <input class="form-control" [(ngModel)]="employee.team.name" id="team" name="team" placeholder="Team" type="text">
        </div>
      </div>-->

      <div class="form-group">
        <label for="contract" class="col-lg-2 control-label">Contract:</label>
        <div class="col-md-10">
          <select class="form-control" id="contract">
            <option disabled>Select Contract</option>
            <option value="ESS">ESS</option>
            <option value="COMMERCIAL">Commercial</option>
            <option value="NONCOMMERCIAL">Non-Commercial</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button class="btn btn-primary" 
          (click)="save()">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>