<div class="container">
  <fieldset>
    <legend>Add Employee</legend>
    <a routerLink="/newemployee" class="btn btn-success">New Employee</a>
  </fieldset>
  <hr>
  <fieldset>
    <legend>Employee List</legend>
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Name</th>
          <th>Wipro Id</th>
          <th>clientId</th>
          <th>Wipro Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{employee.name}}</td>
          <td>{{employee.wiproId}}</td>
          <td>{{employee.clientId}}</td>
          <td>{{employee.wiproEmail}}</td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  <hr>
</div>